:root {
  --yellow: #FFE600;
  --pink: #FF2D78;
  --blue: #0057FF;
  --black: #000000;
  --white: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6,button {
  font-family: "Fredoka", sans-serif;
}